@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open sans", sans-serif;
    background: #f1f1f1;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    height: 100%;
}

.header {
    width: 100%;
    height: 100px;
    background: #fff;
    padding: 10px 13%;

    &__container {
        width: 100%;
        height: 100%;

        &__block {
            width: 100%;
            height: 50%;
            display: flex;
            justify-content: space-between;
            position: relative;

            &:nth-child(2) {
                overflow: hidden;
            }

            &-col {
                display: flex;
                align-items: center;
                height: 100%;
                width: max-content;

                .logotype {
                    width: 90px;
                    height: 30px;
                    background: url(../../img/header-logo.png);
                    background-size: cover;
                    background-repeat: no-repeat;
                }

                .place {
                    display: flex;
                    align-items: center;
                    margin-left: 1rem;
                    position: relative;
                    // border: 1px solid rgb(246, 0, 0);
                    // width: ;

                    &-mark {
                        display: flex;
                        align-items: center;
                        margin-right: 0.4rem;
                    }

                    &-city {
                        font-weight: bold;
                    }

                    .popup {
                        position: absolute;
                        background: #fff;
                        height: max-content;
                        color: #000;
                        top: 100px;
                        z-index: 100;
                        border-radius: 10px;
                        box-shadow: 0px 7px 38px 0px rgba(44, 62, 106, 0.25);
                        font-size: 0.9rem;
                        transition: all .3s ease;
                        transform: translateY(-50px);
                        display: none;

                        &._open {
                            display: block;
                        }

                        &__body {
                            // border: 1px solid #000;
                            padding-bottom: 0;
                            height: 100%;
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            flex-direction: column;

                            &__block {

                                &:nth-child(1) {
                                    padding: 1rem;
                                    border-bottom: 1px solid #D8D8D8;
                                }

                                &:nth-child(2) {
                                    justify-self: start;
                                }

                                .input__block {
                                    // border: 1px solid rgb(31, 227, 9);
                                    position: relative;

                                    &-input {
                                        width: 300px;
                                        padding: 1rem 1.2rem;
                                        border-radius: 50px;
                                        border: 2px solid transparent;
                                        background: #f1f1f1;
                                        outline-color: #ABC8EA;

                                        &:focus {
                                            background: #fff;
                                        }
                                    }

                                    &-x_mark {
                                        position: absolute;
                                        right: 10px;
                                        top: 15px;
                                        display: none;
                                    }
                                }

                                .city__container {
                                    height: 255px;
                                    overflow: hidden;

                                    &-block {
                                        width: 100%;
                                        padding: 1rem 1.5rem;

                                        &:hover {
                                            background: #f1f1f1;
                                        }

                                        &.hide {
                                            display: none;
                                        }
                                    }

                                    mark {
                                        background: none;
                                        color: #0656b4;
                                    }
                                }
                            }

                            .btn__save {
                                height: 45px;
                                background: none;
                                color: #A7A7A7;
                                text-align: center;
                                font-weight: 500;
                                line-height: 16px;
                                letter-spacing: 2px;
                                text-transform: uppercase;
                                border: 0;
                                border-top: 1px solid #D8D8D8;
                                
                            }
                        }
                    }
                }

                .search {
                    padding: 0 0.2rem;
                    margin-left: 4rem;
                    position: relative;

                    &-input {
                        width: 530px;
                        height: 35px;
                        border: 0;
                        outline: none;
                        text-align: center;
                        background: #f1f1f1;
                        border-radius: 100px;
                        padding: 0 0 0 2.5rem;

                        &:focus {
                            background: #fff;
                            border: 2px solid #abc8ea;
                            text-align: left;
                        }
                    }


                    &-btn {
                        background: none;
                        position: absolute;
                        left: 8px;
                        top: 1px;
                        border: 0;
                        outline: none;
                    }
                }

                .user {
                    display: flex;

                    &-likes {
                        display: flex;
                        align-items: center;
                        user-select: none;

                        & #icon {
                            margin-right: 0.4rem;

                            &:active path {
                                fill: #ff0000 !important;
                            }
                        }

                        & #likesCounter {
                            font-size: 1.2rem;
                            font-weight: bold;
                        }
                    }

                    &__account {
                        display: flex;
                        align-items: center;
                        margin-left: 2rem;

                        &-logo {
                            width: 35px;
                            height: 35px;
                            border-radius: 50%;
                            background: url(../../img/user-logo.jpg);
                            background-size: cover;
                            margin-left: 0.4rem;
                        }
                    }
                }
            }

            .scroll {
                position: absolute;
                display: flex;
                align-items: center;
                left: 0;
                top: 0;
                width: max-content;
                height: 100%;
                user-select: none;

                &-block {
                    list-style-type: none;
                    padding: 2px 10px;
                    border-radius: 10px;
                    margin-right: 30px;
                    cursor: default;
                    font-size: 0.9rem;

                    &:hover {
                        background: #f1f1f1;
                    }
                }
            }

            .next__scroll {
                position: absolute;
                right: 0;
                top: 5px;
                background: #fff;
                box-shadow: -20px 0 15px #fff;
                border: 0;
            }
        }
    }
}

.color_grey {
    color: #767676;
}

.main {
    width: 100%;
    height: 100%;
    padding: 0 13% 2rem 13%;

    &__container {
        width: 100%;
        height: 100%;
        margin-top: 2rem;

        .localize {
            display: flex;
            font-size: 0.8rem;
            overflow: hidden;
            margin: 2rem 0;

            &__block {
                margin-right: 2.5rem;
                position: relative;

                &::before {
                    position: absolute;
                    content: url(../../img/arrow-icon.png);
                    left: -30px;
                }
            }
        }

        .info {
            width: 100%;
            height: max-content;
            background: #fff;
            border-radius: 10px;
            font-family: "Nunito sans", sans-serif;

            &__block {
                display: flex;
                position: relative;

                &:first-child {
                    height: 50vh;
                    border-radius: 10px 10px 0 0;
                    background: url(../../img/main-bg.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position-y: center;
                }

                &:nth-child(2) {
                    height: 30%;
                    border-radius: 0 0 10px 10px;
                }

                &-logo {
                    position: absolute;
                    width: 40px;
                    height: 40px;
                    left: 24px;
                    top: 24px;
                    background: #fff;
                    border-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & img {
                        width: 27px;
                        height: 32px;
                    }
                }

                .buttons__container {
                    position: absolute;
                    bottom: 40px;
                    right: 40px;

                    &-button {
                        padding: 16px 24px;
                        border-radius: 5px;
                        border: 0;
                        outline: none;
                        font-weight: 500;
                        line-height: 16px;
                        letter-spacing: 2px;
                        text-transform: uppercase;

                        &:first-child {
                            background: #0656b4;
                            color: #fff;
                            margin-right: 1rem;
                        }

                        &:nth-last-child(1) {
                            background: #dfe9f5;
                            color: #0656b4;
                        }
                    }
                }

                &.second {
                    padding: 24px;
                    flex-direction: column;
                }

                .dop__container {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;

                    &__block {
                        display: flex;
                        align-items: center;

                        &.last {
                            height: 3.5rem;
                            align-items: end;
                        }

                        &-btn {
                            display: flex;
                            align-items: center;
                            height: max-content;
                            padding: 0.7rem;
                            border-radius: 50px;
                            border: 0;
                            border: 1px solid #D8D8D8;
                            background: none;


                            & p.color_grey {
                                margin-left: 0.5rem;
                            }
                        }

                        &:first-child {
                            width: 70%;
                        }

                        & .icons__block {
                            display: flex;
                            margin-left: 1rem;
                        }

                        .rate {
                            display: flex;
                            align-items: start;
                            height: 100%;

                            &-num {
                                margin: 0 4px;
                            }
                        }

                        .list__info {
                            display: flex;
                            height: 100%;

                            &-block {
                                list-style: disc;
                                margin-left: 1rem;
                            }
                        }

                        .update {
                            display: flex;
                            align-items: center;
                            font-size: 0.8rem;

                            &-date {
                                margin-right: 1rem;
                            }

                            &-btn {
                                color: #0656b4;
                                font-weight: bolder;
                            }
                        }
                    }
                }
            }
        }

        &__row {
            width: 100%;
            height: max-content;
            display: flex;
        }

        &__col {
            &:nth-child(2) {
                width: 80%;
            }

            &-zag {
                font-size: 2rem;
                margin-bottom: 1rem;
            }
        }

        .table {
            margin-right: 1rem;

            &-text {
                font-size: 0.9rem;
                padding: 8px 16px 8px 8px;
            }

            &-count {
                background: #fff;
                border-radius: 10px;
                padding: 0 1rem;
            }
        }

        .container {
            display: flex;
            justify-content: space-between;
        }

        .color_blue {
            color: #0656b4;
        }

        .aside {
            display: flex;
            justify-content: space-between;
            width: 25vw;
            height: max-content;
            background: #fff;
            padding: 24px;
            border-radius: 10px;
            box-shadow: 0px 7px 13px 0px rgba(49, 71, 129, 0.07);

            &__block {
                height: max-content;

                &-zag {
                    font-weight: bold;
                    font-size: 2rem;
                }

                &-txt {
                    font-size: 0.8rem;
                }
            }
        }
    }
}